@using PizzaStore.Contracts
@inject IPizzaService PizzaService
@attribute [StreamRendering]

<div class="main">
    <ul class="pizza-cards">
        @if(specials == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var special in specials)
            {
                <li style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@code {
    List<PizzaSpecialDto>? specials;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        specials = await PizzaService.GetListSpecialAsync();
    }
}