@using System.Reactive.Linq
@using PizzaStore.Contracts
@implements IDisposable
@inject IPizzaService PizzaService

@if (loading) { <LoadingIndicator /> }

<ul class="pizza-cards">
@foreach (var special in specials)
{
    <li style="background-image: url('@special.ImageUrl')">
        <div class="pizza-info">
            <span class="title">@special.Name</span>
            @special.Description
            <span class="price">@special.GetFormattedBasePrice()</span>
        </div>
    </li>
}
</ul>

@code {
    bool loading = true;
    List<PizzaSpecialDto> specials = [];

    IDisposable? subscription;

    protected override void OnInitialized()
    {
        subscription = HookToQuery().Subscribe(res =>{
            specials = res;
            loading = false;
            InvokeAsync(StateHasChanged);
        });
    }

    protected IObservable<List<PizzaSpecialDto>> HookToQuery()
    {
        return Observable.FromAsync(async () =>
        {
            await Task.Delay(2000);
            return await PizzaService.GetListSpecialAsync();
        });
    }

    public void Dispose()
    {
        subscription?.Dispose();
    }
}